#geral {
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  max-width: 935px;
  align-items: stretch;
}

#feed {
  float: left;
  margin-right: 28px;
  max-width: 500px;
  width: 100%;
  padding-top: 24px;
}

.box {
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;
  margin-bottom: 24px;
  margin-top: 0;
  padding: 16px 0;
}
#header-feed {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 16px 16px;
}
#header-feed img {
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 50%;
}
#personal {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 16px;
}
#footer-box-feed {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 16px 16px 0;
}
#footer-box-feed p {
  line-height: 20px;
}
.box svg {
  margin: 16px 16px 0;
}

.box button {
  border: none;
  background: none;
}
